$border-color: #D9FFF5;
$background-color: #FFF;
$background-color2:#F8F8F8;
$item-background-color: #EAEAEA;
$font-color: #1B1C21;
$overlay-color: #fffffff5;
$shadow-color: #0e185033;
$highlight-color: #FF3E79;
$hover-border-color: #41F6D7;
$hover-font-color: #7E7E82;